.header {
  @include box(30px, 20px);
}

.header-logo {
  margin-left: 85%;

  @include mq(sm) {
    margin-left: 74%;
  }
}

.header-image {
  height: 50px;

  @include mq(sm) {
    height: 70px;
  }
}
