.header {
  display: flex;

  @include content(20px, 30px);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  height: 50px;

  @include mq(xs) {
    justify-content: inherit;
    height: 60px;
  }

  > h1 {
    display: none;

    @include mq(xs) {
      display: inherit;
    }
  }
}

.header-title {
  padding: 0 10px;

  font-size: scale(1);
  font-weight: 300;
  font-family: inherit;
  letter-spacing: inherit;
}
