.teaser-container {
  @include content();
}

.teaser-loading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
}

.teaser {
  display: flex;
  flex-direction: column;

  padding: 30px;
  margin: 0 -20px;

  color: $white;

  background: $brandDark;
  background: linear-gradient(
    30deg,
    lighten($brandDark, 10%) 0%,
    $brandDark 30%,
    $brandDark 70%,
    lighten($brandDark, 10%) 100%
  );

  @include mq(sm) {
    border-radius: 3px;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
}

.teaser-header {
  display: flex;
  align-items: flex-start;
}

.teaser-date {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  color: rgba($brandLight, 0.75);
  line-height: 1;

  > svg {
    padding-right: 3px;
  }
}

.teaser-name {
  margin-bottom: 10px;

  border-color: rgba($white, 0.5);

  @include mq(sm) {
    font-size: scale(4);
    padding-bottom: 16px;
  }
}

.teaser-footer {
  display: flex;
  justify-content: flex-end;

  margin-top: 20px;
}

.teaser-link {
  display: inline-block;

  padding: 8px 24px;

  color: $brandLight;
  font-size: scale(1);
  text-decoration: none;

  border-radius: 3px;
  background: $brandComplement;
}
