h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
  font-family: $fontFamilyHeader;
  line-height: 1.2;
  letter-spacing: -1px;
}

h1 {
  font-size: scale(4);
}

h2 {
  font-size: scale(3);
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($textColor, 0.25);
}

h3 {
  font-size: scale(2);
}

h4 {
  font-size: scale(1);
}

p {
  margin-bottom: 1.3rem;
}

small {
  font-size: 0.75rem;
}
