extends views/layout.pug

block content
  include views/teaser/teaser.pug
  include views/about/about.pug
  include views/social/social.pug
  
  section.sponsors
    h2 Sponsors
    p.sponsors-caption Thanks to all our supporters! You're awesome! ❤️
    .sponsors-list
      a(href='https://www.gruenhof.org/' rel='nofollow' target='_blank')
        img(src='imgs/gruenhof.png' alt='Grünhof')
      a(href='https://www.patronas.com/' rel='nofollow' target='_blank')
        img(src='imgs/patronas.png' alt='Patronas')
      a(href='https://www.inxmail.de/' rel='nofollow' target='_blank')
        img(src='imgs/inxmail.jpg' alt='Inxmail')
      a(href='https://karriere.reservix.net/' rel='nofollow' target='_blank')
        img(src='imgs/reservix.jpg' alt='Reservix')
      a(href='http://work.haufegroup.io/' rel='nofollow' target='_blank')
        img(src='imgs/haufe.png' alt='Haufe Group')
      a(href='https://nimius.net/' rel='nofollow' target='_blank')
        img(src='imgs/nimius.svg' alt='Nimius')
  section.team
    .team-content
      h2.team-caption Team
      .team-list
        a(href='http://www.ndh-websolutions.de/' rel='nofollow' target='_blank')
          img(src='imgs/nico.jpg' alt='')
          |  Nico
        a(href='https://twitter.com/sebastiansebald' rel='nofollow' target='_blank')
          img(src='imgs/sebastian.jpg' alt='')
          |  Sebastian
        a(href='https://twitter.com/stmllr' rel='nofollow' target='_blank')
          img(src='imgs/steffen.jpg' alt='')
          |  Steffen
